@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

main {
    margin-top: 3.5rem;
    min-height: calc(100vh - 3.5rem - 8rem);
}

.backdrop {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0,0.5);
}

.main-header {
    width: 100%;
    padding: 0.5rem 16px;
    background: white;
    border: #09498a 5px solid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header > div {
    display: flex;
    align-items: center;
}

.toggle-button {
    height: 2rem;
    width: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    background: transparent;
    border: none;
    cursor: pointer;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: #09498a;
    margin: 0.2rem 0;
    display: block;
}



.main-header__brand {
    color: #2e2f31;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-block;
    height: 2rem;
}



.main-nav {
    display: none;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    height:100%;
    display: flex;
    align-items: center;
}

.main-nav__item {
    margin: 0 20px;
}

.main-nav__item a,
.mobile-nav__item a {
    color: #2e2f31;
    text-decoration: none;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    display: block;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active {
    color: #09498a;
    border-bottom: 0.2rem #09498a solid;
    padding-bottom: 0.1rem;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    background: #09498a;
    color: white;
    padding: 0.35rem 1rem;
    border-radius: 8px;
    height: 100%;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    background: white;
    color: #09498a;
    border: #09498a 0.125rem solid;
    padding: 0.225rem 0.875rem
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 80%;
    background: white;
    z-index: 101;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}
  
.mobile-nav__item a {
    font-size: 1.5rem;
}

@media(min-width: 40rem){
    .toggle-button{
        display:none;
    }

    .main-nav {
        display:flex;
    }

 

}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main-footer__link {
    margin: 0.5rem 0;

}

.main-footer__link > a {
    text-decoration: none;
    color: white;
    margin: 0.5rem 0;
}

@media(min-width:40rem){
    .main-footer__links {
         flex-direction: row;

    }

    .main-footer__link{
        margin: 0 1rem;
    }
}

.main-footer__link > a:hover,
.main-footer__link > a:active {
    color: #ccc;
}

.btn {
    background: #09498a;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font: inherit;
    font-weight: 700;
    cursor: pointer;
    border: 2px #09498a solid;
}

.btn:hover,.btn.active {
    color: #09498a;
    background: white;
}

.btn[disabled]{
    cursor: not-allowed;
    background-color: #ccc;
    border-color: rgb(136, 135, 135);
    color:rgb(136, 135, 135);
}

.btn:focus {
    outline: none;
}