* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.backdrop {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0,0.5);
}

.main-header {
    width: 100%;
    padding: 0.5rem 16px;
    background: white;
    border: #09498a 5px solid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.toggle-button {
    height: 1.4rem;
    width: 1.4rem;
    padding: 0;
    margin: 0 0.5rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background: white;
    border: none;
    cursor: pointer;
}

.toggle-button__bar {
    width: 100%;
    height: 0.3rem;
    background: #09498a;
    margin: 0.2rem 0;
    display: block;
}

.main-header__brand {
    color: #2e2f31;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    display: inline-block;
    height: 1.4rem;
    vertical-align: middle;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-nav {
    display: inline-block;
    text-align: right;
    text-align: right;
    width: calc(100% - 7.5rem);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
   
}

.main-nav__item {
    display: inline-block;
    margin: 0 10px;
}

.main-nav__item a,
.mobile-nav__item a {
    color: #2e2f31;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active {
    color: #09498a;
    border-bottom: 3px #09498a solid;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    background: #09498a;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    background: white;
    color: #09498a;
    border: #09498a 3px solid;
    padding: 5px 13px;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 55%;
    background: white;
    z-index: 101;
}

.mobile-nav__items {
    text-align: center;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    width: 90%;
    height: 100%;
}

.mobile-nav__item {
    margin: 1rem 0;
}
  
.mobile-nav__item a {
    font-size: 1.5rem;
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link > a {
    text-decoration: none;
    color: white;
}

.main-footer__link > a:hover,
.main-footer__link > a:active {
    color: #ccc;
}

.btn {
    background: #09498a;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font: inherit;
    font-weight: 700;
    cursor: pointer;
    border: 2px #09498a solid;
}

.btn:hover,.btn.active {
    color: #09498a;
    background: white;
}

.btn:focus {
    outline: none;
}